USE [Lab05Task]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 5/4/2025 11:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Employee_ID] [int] NOT NULL,
	[Employee_Name] [nchar](30) NOT NULL,
	[CIty] [nchar](30) NOT NULL,
	[Phone_Number] [nchar](10) NOT NULL,
	[Salary] [nchar](10) NOT NULL,
	[Age] [nchar](10) NOT NULL,
	[Joining_Date] [date] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Employee] ([Employee_ID], [Employee_Name], [CIty], [Phone_Number], [Salary], [Age], [Joining_Date]) VALUES (101, N'Shaheer Ahmad                 ', N'Islamabad                     ', N'030425456 ', N'95000.85  ', N'44.5      ', CAST(N'1995-02-02' AS Date))
INSERT [dbo].[Employee] ([Employee_ID], [Employee_Name], [CIty], [Phone_Number], [Salary], [Age], [Joining_Date]) VALUES (102, N'usman khan                    ', N'islamabad                     ', N'034452458 ', N'85000.75  ', N'44        ', CAST(N'1999-03-03' AS Date))
INSERT [dbo].[Employee] ([Employee_ID], [Employee_Name], [CIty], [Phone_Number], [Salary], [Age], [Joining_Date]) VALUES (103, N'areeb ali                     ', N'Rawalpindi                    ', N'033452136 ', N'90000.85  ', N'44.5      ', CAST(N'1997-04-04' AS Date))
GO
